In [18]:
import pandas as pd

In [29]:
import os, sys
# Add parent directory to path to import modules from src
rpath = os.path.abspath('..')
if rpath not in sys.path:
    sys.path.insert(0, rpath)

In [20]:
from src.loader import Loader

In [21]:
with open("../data/20181024_d1_0830_0900.csv", 'r') as file:
    lines = file.readlines()

In [23]:
print(f"The number of rows/lines is {len(lines)}")

The number of rows/lines is 923

In [24]:
print(lines[0]) # column names
print(lines[0].strip('\n').strip().strip(';').split(';')) # columns names as a list

track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time

['track_id', ' type', ' traveled_d', ' avg_speed', ' lat', ' lon', ' speed', ' lon_acc', ' lat_acc', ' time']

In [25]:
# Create an instance of the Loader class
data_loader = Loader()

# Call the file_loader method on the instance
lines = data_loader.file_loader(file_path="../data/20181024_d1_0830_0900.csv")

# Call the get_dfs method on the instance
vehicle_df, trajectories_df = data_loader.get_dfs(file_path="../data/20181024_d1_0830_0900.csv")

In [12]:
vehicle_df.head()

                 unique_id  track_id    veh_type  traveled_distance  avg_speed
0  20181024_d1_0830_0900_0         1         Car              48.85   9.770344
1  20181024_d1_0830_0900_1         2  Motorcycle              98.09  19.839417
2  20181024_d1_0830_0900_2         3  Motorcycle              63.80  18.228752
3  20181024_d1_0830_0900_3         4  Motorcycle             145.72  26.229014
4  20181024_d1_0830_0900_4         5  Motorcycle             138.01  24.841425

In [14]:
trajectories_df.head()

,unique_id,lat,lon,speed,lon_acc,lat_acc,time
0,20181024_d1_0830_0900_0,37.977391,23.737688,4.9178,0.0518,-0.0299,0.00
1,20181024_d1_0830_0900_0,37.977391,23.737688,4.9207,-0.0124,-0.0354,0.04
2,20181024_d1_0830_0900_0,37.977391,23.737688,4.9160,-0.0519,-0.0413,0.08
3,20181024_d1_0830_0900_0,37.977390,23.737688,4.9057,-0.0914,-0.0478,0.12
4,20181024_d1_0830_0900_0,37.977390,23.737689,4.8871,-0.1679,-0.0550,0.16

In [16]:
vehicle_df.shape

(922, 5)

In [17]:
trajectories_df.shape

(1446887, 7)

In [27]:
vehicle_df.isna().sum()

unique_id            0
track_id             0
veh_type             0
traveled_distance    0
avg_speed            0
dtype: int64

In [28]:
trajectories_df.isna().sum()

unique_id    0
lat          0
lon          0
speed        0
lon_acc      0
lat_acc      0
time         0
dtype: int64